<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.worm.little.mapper.CrawlCommentXiaomiMapper">
    <resultMap id="BaseResultMap" type="com.worm.little.entity.CrawlCommentXiaomi">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="game_code" property="gameCode" jdbcType="BIGINT"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="viewpoint_id" property="viewpointId" jdbcType="VARCHAR"/>
        <result column="uuid" property="uuid" jdbcType="INTEGER"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="score" property="score" jdbcType="INTEGER"/>
        <result column="like_count" property="likeCount" jdbcType="INTEGER"/>
        <result column="reply_count" property="replyCount" jdbcType="INTEGER"/>
        <result column="view_count" property="viewCount" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="update_time" property="updateTime" jdbcType="DATE"/>
        <result column="play_duration" property="playDuration" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
        <result column="top_reply" property="topReply" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from crawl_comment_xiaomi
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.worm.little.entity.CrawlCommentXiaomi">
    insert into crawl_comment_xiaomi (id, user_id, game_code, sort, viewpoint_id,
      uuid, nickname, sex, 
      score, like_count, reply_count, 
      view_count, create_time, update_time, 
      play_duration, content, top_reply
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{gameCode,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, #{viewpointId,jdbcType=VARCHAR},
      #{uuid,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{score,jdbcType=INTEGER}, #{likeCount,jdbcType=INTEGER}, #{replyCount,jdbcType=INTEGER}, 
      #{viewCount,jdbcType=INTEGER}, #{createTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE}, 
      #{playDuration,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}, #{topReply,jdbcType=LONGVARCHAR}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.worm.little.entity.CrawlCommentXiaomi">
    update crawl_comment_xiaomi
    set user_id = #{userId,jdbcType=BIGINT},
      game_code = #{gameCode,jdbcType=BIGINT},
      sort = #{sort,jdbcType=INTEGER},
      viewpoint_id = #{viewpointId,jdbcType=VARCHAR},
      uuid = #{uuid,jdbcType=INTEGER},
      nickname = #{nickname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      like_count = #{likeCount,jdbcType=INTEGER},
      reply_count = #{replyCount,jdbcType=INTEGER},
      view_count = #{viewCount,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=DATE},
      play_duration = #{playDuration,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR},
      top_reply = #{topReply,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select id, user_id, game_code, sort, viewpoint_id, uuid, nickname, sex, score, like_count, reply_count,
    view_count, create_time, update_time, play_duration, content, top_reply
    from crawl_comment_xiaomi
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, game_code, sort, viewpoint_id, uuid, nickname, sex, score, like_count, reply_count,
    view_count, create_time, update_time, play_duration, content, top_reply
    from crawl_comment_xiaomi
  </select>

    <!--获取存储的最新评论-->
    <select id="getLastComment" resultMap="BaseResultMap" parameterType="java.util.Map">
    select id, user_id, game_code, sort, viewpoint_id, uuid, nickname, sex, score, like_count, reply_count,
            view_count, create_time, update_time, play_duration, content, top_reply
    from crawl_comment_xiaomi
    where game_code = #{gameCode,jdbcType=BIGINT}
    and user_id = #{userId,jdbcType=BIGINT}
    and sort = (
      select max(sort)
      from crawl_comment_xiaomi
      where game_code = #{gameCode,jdbcType=BIGINT}
      and user_id = #{userId,jdbcType=BIGINT}
    )
  </select>
</mapper>