<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>小虫虫爬虫系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="dist/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="dist/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="dist/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="dist/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="dist/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="dist/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="dist/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="dist/lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="dist/css/style.css">
    <link rel="stylesheet" type="text/css" href="dist/css/themes/flat-blue.css">
    <!-- 标签栏图标 -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!-- 引入阿里巴巴图标 -->
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1379614_7kwlk8an72d.css">
</head>

<body class="flat-blue">
<div class="app-container">
    <div class="row content-container">
        <nav class="navbar navbar-default navbar-fixed-top navbar-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-expand-toggle">
                        <i class="fa fa-bars icon"></i>
                    </button>
                    <ol class="breadcrumb navbar-breadcrumb">
                        <li class="active">首页</li>
                    </ol>
                    <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                        <i class="fa fa-th icon"></i>
                    </button>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                        <i class="fa fa-times icon"></i>
                    </button>
                    <li class="dropdown profile">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">个人信息<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu animated fadeInDown">
                            <li class="profile-img">
                                <img src="/img/nezha.jpg" class="profile-img">
                            </li>
                            <li>
                                <div class="profile-info">
                                    <p>我是小妖怪，逍遥又自在</p>
                                    <p>杀人不眨眼，吃人不放盐</p>
                                    <div class="btn-group margin-bottom-2x" role="group">
                                        <button type="button" class="btn btn-default"><i class="fa fa-sign-out"></i><a
                                                href="/">退出登录</a></button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="side-menu sidebar-inverse">
            <!-- /.菜单栏 -->
            <nav class="navbar navbar-default" role="navigation">
                <div class="side-menu-container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/index">
                            <div class="icon fa fa-paper-plane"></div>
                            <div class="title">小虫虫爬虫系统</div>
                        </a>
                        <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                            <i class="fa fa-times icon"></i>
                        </button>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#dropdown-element">
                                <span class="iconfont icon-yonghu"></span><span class="title">&nbsp;&nbsp;用户管理</span>
                            </a>
                            <!-- Dropdown level 1 -->
                            <div id="dropdown-element" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a href="/user_manage">用户列表</a></li>
                                        <li><a href="../ui-kits/theming.html">用户爬取记录</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="/xiaomi_comment">
                                <span class="iconfont icon-xiaomi"></span><span class="title">&nbsp;&nbsp;小米游戏</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- /.菜单栏 -->
        </div>
        <!-- Main Content -->
        <div class="container-fluid">
            <div class="side-body padding-top">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <a href="#">
                            <div class="card red summary-inline">
                                <div class="card-body">
                                    <i class="glyphicon glyphicon-user fa-4x"></i>
                                    <div class="content">
                                        <div class="title" th:text="${userCount}">0</div>
                                        <div class="sub-title">用户数</div>
                                    </div>
                                    <div class="clear-both"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <a href="#">
                            <div class="card yellow summary-inline">
                                <div class="card-body">
                                    <i class="glyphicon glyphicon-screenshot fa-4x"></i>
                                    <div class="content">
                                        <div class="title" th:text="${gameCount}">0</div>
                                        <div class="sub-title">爬取游戏数</div>
                                    </div>
                                    <div class="clear-both"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <a href="#">
                            <div class="card green summary-inline">
                                <div class="card-body">
                                    <i class="glyphicon glyphicon-list fa-4x"></i>
                                    <div class="content">
                                        <div class="title" th:text="${commentCount}">0</div>
                                        <div class="sub-title">爬取记录数</div>
                                    </div>
                                    <div class="clear-both"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <a href="#">
                            <div class="card blue summary-inline">
                                <div class="card-body">
                                    <i class="glyphicon glyphicon-refresh fa-4x"></i>
                                    <div class="content">
                                        <div class="title" th:text="${runDays}">0</div>
                                        <div class="sub-title">系统运行天数</div>
                                    </div>
                                    <div class="clear-both"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row  no-margin-bottom">
                    <div class="col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="card primary">
                                    <div class="card-jumbotron no-padding">
                                        <canvas id="jumbotron-line-chart" class="chart no-padding"></canvas>
                                    </div>
                                    <div class="card-body half-padding">
                                        <h4 class="float-left no-margin font-weight-300">一周爬取数据表</h4>
                                        <h2 class="float-right no-margin font-weight-300"></h2>
                                        <div class="clear-both"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="card card-success">
                            <div class="card-header">
                                <div class="card-title">
                                    <div class="title"></i>爬取记录</div>
                                </div>
                                <div class="clear-both"></div>
                            </div>
                            <div class="card-body no-padding">
                                <ul class="message-list">
                                    <a href="#">
                                        <li>
                                            <img src="/img/nezha.jpg" class="profile-img pull-left">
                                            <div class="message-block">
                                                <div><span class="username" th:text="${userName0}">康康</span> <span
                                                        class="message-datetime" th:text="${crawlTime0}">12 分钟前</span>
                                                </div>
                                                <div class="message" th:text="${msg0}">爬取游戏《王者荣耀》，爬取游戏评论条数1890条
                                                </div>
                                            </div>
                                        </li>
                                    </a>
                                    <a href="#">
                                        <li>
                                            <img src="/img/nezha2.jfif" class="profile-img pull-left">
                                            <div class="message-block">
                                                <div><span class="username" th:text="${userName1}"></span> <span
                                                        class="message-datetime" th:text="${crawlTime1}"></span>
                                                </div>
                                                <div class="message" th:text="${msg1}">
                                                </div>
                                            </div>
                                        </li>
                                    </a>
                                    <a href="#">
                                        <li>
                                            <img src="/img/aobing.jfif" class="profile-img pull-left">
                                            <div class="message-block">
                                                <div><span class="username" th:text="${userName2}"></span> <span
                                                        class="message-datetime" th:text="${crawlTime2}"></span>
                                                </div>
                                                <div class="message" th:text="${msg2}">
                                                </div>
                                            </div>
                                        </li>
                                    </a>
                                    <a href="#">
                                        <li>
                                            <img src="/img/taiyi.jfif" class="profile-img pull-left">
                                            <div class="message-block">
                                                <div><span class="username" th:text="${userName3}"></span> <span
                                                        class="message-datetime" th:text="${crawlTime3}"></span>
                                                </div>
                                                <div class="message" th:text="${msg3}">
                                                </div>
                                            </div>
                                        </li>
                                    </a>
                                    <a href="#">
                                        <li>
                                            <img src="/img/shengongbo.jfif" class="profile-img pull-left">
                                            <div class="message-block">
                                                <div><span class="username" th:text="${userName4}"></span> <span
                                                        class="message-datetime" th:text="${crawlTime4}"></span>
                                                </div>
                                                <div class="message" th:text="${msg4}">
                                                </div>
                                            </div>
                                        </li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="app-footer">
        <div class="wrapper"><span class="pull-right">2.1 <a href="#"><i class="fa fa-long-arrow-up"></i></a></span> ©
            2015 Copyright. <a href="http://www.kangboobo.com/" target="_blank" title="kangkang">kangkang</a>
        </div>
    </footer>
</div>
<!-- Javascript Libs -->
<script type="text/javascript" src="dist/lib/js/jquery.min.js"></script>
<script type="text/javascript" src="dist/lib/js/bootstrap.min.js"></script>
<script type="text/javascript" src="dist/lib/js/Chart.min.js"></script>
<script type="text/javascript" src="dist/lib/js/bootstrap-switch.min.js"></script>
<script type="text/javascript" src="dist/lib/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="dist/lib/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="dist/lib/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="dist/lib/js/select2.full.min.js"></script>
<script type="text/javascript" src="dist/lib/js/ace/ace.js"></script>
<script type="text/javascript" src="dist/lib/js/ace/mode-html.js"></script>
<script type="text/javascript" src="dist/lib/js/ace/theme-github.js"></script>
<!-- Javascript -->
<script type="text/javascript" src="dist/js/app.js"></script>
<script type="text/javascript" src="dist/js/index.js"></script>
</body>
<script type="text/javascript">
    $(function () {
        var ctx, data, myLineChart, options;
        Chart.defaults.global.responsive = true;
        ctx = $('#jumbotron-line-chart').get(0).getContext('2d');
        options = {
            showScale: false,
            scaleShowGridLines: false,
            scaleGridLineColor: "rgba(0,0,0,.05)",
            scaleGridLineWidth: 0,
            scaleShowHorizontalLines: false,
            scaleShowVerticalLines: false,
            bezierCurve: false,
            bezierCurveTension: 0.4,
            pointDot: false,
            pointDotRadius: 0,
            pointDotStrokeWidth: 2,
            pointHitDetectionRadius: 20,
            datasetStroke: true,
            datasetStrokeWidth: 4,
            datasetFill: true,
            legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"
        };
        data = {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'],
            datasets: [
                {
                    label: "My Second dataset",
                    fillColor: "rgba(34, 167, 240,0.2)",
                    strokeColor: "#22A7F0",
                    pointColor: "#22A7F0",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "#22A7F0",
                    data: [28, 48, 40, 45, 76, 65, 90]
                }
            ]
        };
        myLineChart = new Chart(ctx).Line(data, options);
    });
</script>
</html>
