<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>小虫虫爬虫系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="dist/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="dist/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="dist/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="dist/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="dist/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="dist/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="dist/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="dist/lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="dist/css/style.css">
    <link rel="stylesheet" type="text/css" href="dist/css/themes/flat-blue.css">
    <!-- 标签栏图标 -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="dist/lib/css/bootstrapValidator.min.css">
</head>

<body class="flat-blue login-page">
<div class="container">
    <div class="login-box">
        <div>
            <div class="login-form row">
                <div class="col-sm-12 text-center login-header">
                    <i class="login-logo fa fa-connectdevelop fa-5x"></i>
                    <h3 class="login-title">小虫虫爬虫系统</h3>
                </div>
                <div class="col-sm-12">
                    <div class="login-body">
                        <div class="progress hidden" id="login-progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active"
                                 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 100%">
                                Log In...
                            </div>
                        </div>
                        <form id="login-form" th:action="@{/login}" method="post">
                            <p style="color: red;" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
                            <div class="control">
                                <div class="form-group">
                                    <input type="text" name="userName" id="userName" class="form-control"
                                           placeholder="用户名"/>
                                </div>
                            </div>
                            <div class="control">
                                <div class="form-group">
                                    <input type="password" name="password" id="password" class="form-control"
                                           placeholder="密码"/>
                                </div>
                            </div>
                            <div class="login-button text-center">
                                <input type="submit" class="btn btn-primary" value="登录">
                            </div>
                        </form>
                    </div>
                    <div class="login-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Javascript Libs -->
<script type="text/javascript" src="dist/lib/js/jquery.min.js"></script>
<script type="text/javascript" src="dist/lib/js/bootstrap.min.js"></script>
<script type="text/javascript" src="dist/lib/js/Chart.min.js"></script>
<script type="text/javascript" src="dist/lib/js/bootstrap-switch.min.js"></script>

<script type="text/javascript" src="dist/lib/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="dist/lib/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="dist/lib/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="dist/lib/js/select2.full.min.js"></script>
<script type="text/javascript" src="dist/lib/js/ace/ace.js"></script>
<script type="text/javascript" src="dist/lib/js/ace/mode-html.js"></script>
<script type="text/javascript" src="dist/lib/js/ace/theme-github.js"></script>
<!-- Javascript -->
<script type="text/javascript" src="dist/js/app.js"></script>
<script type="text/javascript" src="dist/lib/js/bootstrapValidator.min.js"></script>
</body>

<script type="text/javascript">
    //输入表单验证
    $('#login-form').bootstrapValidator({
        message: 'This value is not valid',
        excluded: [':disabled'],//忽略不验证的项[':disabled', ':hidden', ':not(:visible)']
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        live: 'enabled',
        submitHandler: function (validator, form, submitButton) {
            // 表单提交成功时会调用此方法
            // validator: 表单验证实例对象
            // form  jq对象  指定表单对象
            // submitButton  jq对象  指定提交按钮的对象
        },
        fields: {
            userName: {
                message: '用户名验证失败',
                trigger: "change", //监听change动作
                validators: {
                    notEmpty: {
                        message: '用户名不能为空'
                    }
                }
            },
            password: {
                message: '密码验证失败',
                trigger: "change", //监听change动作
                validators: {
                    notEmpty: {
                        message: '密码不能为空'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_]+$/,
                        message: '密码只能包含大小写字母、数字和下划线'
                    }
                }
            }
        }
    });
</script>

</html>
