<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>小虫虫爬虫系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="dist/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="dist/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="dist/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="dist/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="dist/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="dist/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="dist/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="dist/lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="dist/css/style.css">
    <link rel="stylesheet" type="text/css" href="dist/css/themes/flat-blue.css">
    <!-- 标签栏图标 -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!-- 引入阿里巴巴图标 -->
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1379614_7kwlk8an72d.css">
    <link rel="stylesheet" type="text/css" href="dist/lib/css/bootstrapValidator.min.css">
</head>

<body class="flat-blue">
<div class="app-container">
    <div class="row content-container">
        <nav class="navbar navbar-default navbar-fixed-top navbar-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-expand-toggle">
                        <i class="fa fa-bars icon"></i>
                    </button>
                    <ol class="breadcrumb navbar-breadcrumb">
                        <li>用户管理</li>
                        <li class="active">用户列表</li>
                    </ol>
                    <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                        <i class="fa fa-th icon"></i>
                    </button>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                        <i class="fa fa-times icon"></i>
                    </button>
                    <li class="dropdown profile">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">个人信息<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu animated fadeInDown">
                            <li class="profile-img">
                                <img src="/img/nezha.jpg" class="profile-img">
                            </li>
                            <li>
                                <div class="profile-info">
                                    <p>我是小妖怪，逍遥又自在</p>
                                    <p>杀人不眨眼，吃人不放盐</p>
                                    <div class="btn-group margin-bottom-2x" role="group">
                                        <button type="button" class="btn btn-default"><i class="fa fa-sign-out"></i><a
                                                href="/">退出登录</a></button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="side-menu sidebar-inverse">
            <!-- /.菜单栏 -->
            <nav class="navbar navbar-default" role="navigation">
                <div class="side-menu-container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/index">
                            <div class="icon fa fa-paper-plane"></div>
                            <div class="title">小虫虫爬虫系统</div>
                        </a>
                        <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                            <i class="fa fa-times icon"></i>
                        </button>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#dropdown-element">
                                <span class="iconfont icon-yonghu"></span><span class="title">&nbsp;&nbsp;用户管理</span>
                            </a>
                            <!-- Dropdown level 1 -->
                            <div id="dropdown-element" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a href="/user_manage">用户列表</a></li>
                                        <li><a href="../ui-kits/theming.html">用户爬取记录</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="/xiaomi_comment">
                                <span class="iconfont icon-xiaomi"></span><span class="title">&nbsp;&nbsp;小米游戏</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- /.菜单栏 -->
        </div>
        <!-- Main Content -->
        <div class="container-fluid">
            <div class="side-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="top">
                                    <form id="search-form">
                                        <div class="form-inline title">
                                            <input type="text" class="form-control" name="keyword" id="keyword"
                                                   placeholder="输入姓名搜索">
                                            <button id="search_user" type="button" class="btn btn-info">&nbsp;&nbsp;搜索&nbsp;&nbsp;</button>
                                            <button type="button" id="add_btn" class="btn btn-success"
                                                    data-toggle="modal" data-target="#addUserModal"
                                                    data-whatever="@mdo">&nbsp;&nbsp;新增&nbsp;&nbsp;
                                            </button>
                                        </div>
                                    </form>
                                    <h5 class="page-header"></h5>
                                </div>
                                <div id="table_refresh">
                                    <table class="table table-striped table-bordered table-condensed">
                                        <thead>
                                        <tr>
                                            <th style='width:10%;'>序号</th>
                                            <th style='width:25%;'>用户名</th>
                                            <th style='width:20%;'>用户ID</th>
                                            <th style='width:25%;'>用户角色</th>
                                            <th style='width:20%;'>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody id="table_body">
                                        <!-- 表格内容由ajax请求结果动态填充-->
                                        </tbody>
                                    </table>
                                    <div style="display:inline-block;" id="pageInfoTxt">
                                    </div>
                                    <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content" align="center">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close"><span aria-hidden="true">×</span>
                                                    </button>
                                                    <h4 class="modal-title" id="exampleModalLabel">确认框</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form>
                                                        <div class="form-group" align="center">
                                                            <label for="message-text"
                                                                   class="control-label">确定要删除该用户？</label>
                                                            <span>(同时会清空该用户爬取的所有数据)</span>
                                                        </div>
                                                    </form>
                                                    <div name="dataId" id="dataId">
                                                    </div>
                                                </div>
                                                <div class="modal-footer" align="center">
                                                    <button type="button" class="btn btn-success"
                                                            data-dismiss="modal">取消
                                                    </button>

                                                    <button type="button" id="delete_btn" class="btn btn-danger"
                                                            data-dismiss="modal">确认
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 分页容器： 显示分页按钮-->
                                <div id="Paginator" style="text-align: center">
                                    <ul id="pageLimit"></ul>
                                </div>
                                <!-- 新增用户form表单-->
                                <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span aria-hidden="true">×</span>
                                                </button>
                                                <h4 class="modal-title" id="addUserModalTitle">新增用户</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form id="add_user_form" class="form-horizontal">
                                                    <div class="form-group">
                                                        <label for="add_user_id"
                                                               class="col-sm-2 control-label">用户ID</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="add_user_id"
                                                                   placeholder="请输入登录ID">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="add_user_name"
                                                               class="col-sm-2 control-label">用户名</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="add_user_name"
                                                                   placeholder="请输入用户名">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="add_user_password"
                                                               class="col-sm-2 control-label">密码</label>
                                                        <div class="col-sm-10">
                                                            <input type="password" class="form-control"
                                                                   id="add_user_password" placeholder="请输入密码">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="add_user_role"
                                                               class="col-sm-2 control-label">用户角色</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="add_user_role"
                                                                   placeholder="请输入用户角色">
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer" align="center">
                                                        <button type="button" class="btn btn-success"
                                                                data-dismiss="modal">取消
                                                        </button>
                                                        <button type="button" id="add_user_btn" class="btn btn-danger"
                                                                data-dismiss="modal">确认
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 编辑用户form表单-->
                                <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span aria-hidden="true">×</span>
                                                </button>
                                                <h4 class="modal-title" id="editUserModalTitle">编辑用户</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form id="edit_user_form" class="form-horizontal">
                                                    <div class="form-group">
                                                        <label for="edit_user_id"
                                                               class="col-sm-2 control-label">用户ID</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="edit_user_id"
                                                                   disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="edit_user_name"
                                                               class="col-sm-2 control-label">用户名</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="edit_user_name"
                                                                   placeholder="请输入用户名">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="edit_user_password" class="col-sm-2 control-label">密码</label>
                                                        <div class="col-sm-10">
                                                            <input type="password" class="form-control"
                                                                   id="edit_user_password" placeholder="请输入密码">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="edit_user_role"
                                                               class="col-sm-2 control-label">用户角色</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="edit_user_role"
                                                                   placeholder="请输入用户角色">
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer" align="center">
                                                        <button type="button" class="btn btn-success"
                                                                data-dismiss="modal">取消
                                                        </button>
                                                        <button type="button" id="edit_user_btn" class="btn btn-danger"
                                                                data-dismiss="modal">确认
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="app-footer">
        <div class="wrapper">
            <span class="pull-right">2.1 <a href="#"><i class="fa fa-long-arrow-up"></i></a></span> © 2015 Copyright.<a
                href="http://www.kangboobo.com/" target="_blank" title="kangkang">kangkang</a>
        </div>
    </footer>
</div>
<!-- Javascript Libs -->
<script type="text/javascript" src="dist/lib/js/jquery.min.js"></script>
<script type="text/javascript" src="dist/lib/js/bootstrap.min.js"></script>
<script type="text/javascript" src="dist/lib/js/Chart.min.js"></script>
<script type="text/javascript" src="dist/lib/js/bootstrap-switch.min.js"></script>

<script type="text/javascript" src="dist/lib/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="dist/lib/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="dist/lib/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="dist/lib/js/select2.full.min.js"></script>
<script type="text/javascript" src="dist/lib/js/ace/ace.js"></script>
<script type="text/javascript" src="dist/lib/js/ace/mode-html.js"></script>
<script type="text/javascript" src="dist/lib/js/ace/theme-github.js"></script>
<!-- Javascript -->
<script type="text/javascript" src="dist/js/app.js"></script>
<script type="text/javascript" src="dist/lib/js/bootstrap-paginator.js"></script>
<script type="text/javascript" src="dist/lib/js/bootstrapValidator.min.js"></script>
</body>

<script type="text/javascript">
    // 搜索按钮事件
    $('#search_user').click(function () {
            getPage(1);
        }
    );

    // 分页查询方法
    function getPage(pageNum) {
        var keyword = $("#keyword").val();// 关键词
        var pageSize = 20;
        $.ajax({
            url: "/user_manage_list",
            type: "GET",
            data: {
                "keyword": keyword,
                "page_num": pageNum,
                "page_size": pageSize,
            },
            dataType: "json",
            success: function (result) {
                // 清空页面
                $('#table_body').html("");
                $("#pageInfoTxt").html("");
                var totalPages = 10; // 总页数
                var totalCount = result.pageData.size; // 总数据量
                var data = result.pageData; // 分页数据
                if (data.list != null) {
                    totalPages = data.pages;
                    // 动态填充页面数据
                    var table_body_html = "";
                    $.each(data.list, function (i, item) {
                        var $row = JSON.stringify(item).replace(/\"/g, "'")
                        table_body_html += '<tr>';
                        table_body_html += '<td>' + (i + 1) + '</td>';
                        table_body_html += '<td>' + item.userId + '</td>';
                        table_body_html += '<td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">' + item.userName + '</td>';
                        table_body_html += '<td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">' + item.role + '</td>';
                        table_body_html += '<td> <button type="button" id="edit_btn" onclick="edit_values(' + $row + ')" class="btn btn-warning btn-xs"\n' +
                            '                                                       data-toggle="modal" data-target="#editUserModal"\n' +
                            '                                                       data-whatever="@mdo">&nbsp;&nbsp;编辑&nbsp;&nbsp;</button>\n' +
                            '                    <button type="button" id="delete_btn_pre" onclick="delete_values(' + item.id + ')" class="btn btn-danger btn-xs"\n' +
                            '                                                        data-toggle="modal" data-target="#deleteUserModal"\n' +
                            '                                                        data-whatever="@mdo">&nbsp;&nbsp;删除&nbsp;&nbsp;\n' +
                            '                     </button></td>';
                        table_body_html += '</tr>';
                    });
                    $('#table_body').html(table_body_html);
                    $("#pageInfoTxt").append('<span>' + totalCount + '条数据 共' + totalPages + '页 </span>');
                    var options = {
                        bootstrapMajorVersion: 3, //版本
                        size: "normal",
                        currentPage: pageNum, //当前页数
                        totalPages: totalPages, //总页数
                        numberOfPages: 10,
                        itemTexts: function (type, page, current) {
                            switch (type) {
                                case "first":
                                    return "首页";
                                case "prev":
                                    return "上一页";
                                case "next":
                                    return "下一页";
                                case "last":
                                    return "末页";
                                case "page":
                                    return page;
                            }
                        },
                        // 点击事件，用于通过Ajax来刷新整个list列表
                        onPageClicked: function (event, originalEvent, type, page) {
                            getPage(page);
                        }
                    };
                    $('#pageLimit').bootstrapPaginator(options);
                }
            }
        });
    };

    // 编辑用户传参到弹框
    $("#editUserModal").modal("hide")

    function edit_values(item) {
        $('#edit_user_id').val(item.id);
        $('#edit_user_name').val(item.userName);
        $('#edit_user_password').val(item.password);
        $('#edit_user_role').val(item.role);
    }

    // 删除按钮传id到弹框
    $("#deleteUserModal").modal("hide")

    function delete_values(id) {
        $('#dataId').val(id);
    }

    // 清空按钮事件
    $('#delete_btn').click(function () {
        var id = $("#dataId").val();
        var url = '/user_delete';
        $.ajax({
            url: url,
            type: 'post',
            data: {
                "id": id,
            },
            success: function (data) {
                alert("删除用户成功");
            },
            error: function (jqXHR) {
                alert("删除用户失败：" + jqXHR.status);
            }
        })
    });

    // 新增、编辑确认按钮事件
    $('#add_user_btn').click(function () {
        /*手动验证表单，当是普通按钮时。*/
        $('#add_user_form').data('bootstrapValidator').validate();
        if (!$('#add_user_form').data('bootstrapValidator').isValid()) {
            alter("1111")
            return;
        } else {
            //通过ajax请求来提交表单，可以灵活控制提交后的操作
            var userId = $("#add_user_id").val();
            var userName = $("#add_user_name").val();
            var password = $("#add_user_password").val();
            var role = $("#add_user_role").val();
            $.ajax({
                url: "/user_add",
                type: "post",
                data: {
                    "userId": userId,
                    "userName": userName,
                    "password": password,
                    "role": role,
                },
                success: function (result) {
                    if (result == "true") {
                        $('#Modal').modal('hide');
                    } else {
                        $("#returnMessage").hide().html('<label class="label label-danger">新增成功!</label>').show(300);
                    }
                }, error: function () {
                    $("#returnMessage").hide().html('<label class="label label-danger">新增失败!</label>').show(300);
                }
            })
        }
    });

    //输入表单验证
    $('#add_user_form').bootstrapValidator({
        message: 'This value is not valid',
        excluded: [':disabled'],//忽略不验证的项[':disabled', ':hidden', ':not(:visible)']
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        live: 'enabled',
        fields: {
            add_user_name: {
                message: '用户名验证失败',
                trigger: "change", //监听change动作
                validators: {
                    notEmpty: {
                        message: '用户名不能为空'
                    }
                }
            },
            add_user_password: {
                message: '密码验证失败',
                trigger: "change", //监听change动作
                validators: {
                    notEmpty: {
                        message: '密码不能为空'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_]+$/,
                        message: '密码只能包含大小写字母、数字和下划线'
                    }
                }
            }
        }
    });
</script>

</html>
